main h2{
  margin: 0 auto;
  background-color: #252525;
  width: 60%;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 0px;
  font-family: poller_oneregular;
}

main  div{
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 50px;
}

main img{
  margin: 0 auto;
  border: 1.5px solid  #252525;
}

@media (max-width:700px) {

  main{
    overflow-x: hidden;
    margin: 0 auto
  }

  main h2{
  margin: 0 auto;
  background-color: #252525;
  width: 100%;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 0px;
  font-family: poller_oneregular;
  }

  main  div{
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 50px;
}

main img{
  width: 100%;
  margin: 0 auto;
  border: 1.5px solid  #252525;
}

}