.textboxes {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 3px solid #252525;
  margin: 10px;
}

input::placeholder{
  color: #252525;
}


.message{
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
}

button {
  background-color: #252525;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  border: none;
  padding: 15px 15px;
  margin-top: -20px;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: #252525;
  border: 1.5px solid #252525;
}