.gallery-image{
  border: 2px solid #252525;
}

.gallery-title {
  margin: 0 auto;
  background-color: #252525;
  max-width: 50%;
  width: 50%;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width:700px) {
  .gallery-title{
    width: 30%;
  }
}