body{
  margin: 0 auto;
  overflow-x: hidden;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery img{
  margin: 5px;
  border: 2px solid #252525;
  transition: 0.3s ease;
}

.gallery img:hover{
  filter: brightness(80%);
}

div h2{
  width: 100%;
}

@media (min-width:700px) {

  main {
    margin: 0 auto;
    align-items: center;
  }

  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img{
    width: 130%;
  } 

  div h2{
    width: 200px;
  }
}